*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(244,159,0,1) 0%, rgba(196,0,255,1) 100%);    line-height: 1.8;
    margin: 0 20px;
}

img{
    margin: 0rem 0rem 0rem 35rem;
}

h1{
    font-size: 3.5rem;
    color: rgb(17, 17, 17);
    text-align: center;
}

input{
    padding: 10px 20px;
    margin: 0rem 0rem 0rem 20rem;
    width: 50%;
    border: 2.5px solid black;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    color: black;
}

input::placeholder{
    font-size: 15px;
    color: rgb(244,159,0);

}

i{
    margin: -30px;
    color: rgb(244,159,0);
}

i:hover{
    margin: -30px;
    color: black
}